@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ffd300;
  --color-primary-content: #000000;
  --color-secondary: #1f2937;
  --color-secondary-content: #ffffff;
  --color-accent: #ea580c;
  --color-accent-content: #ffffff;
  --color-neutral: #1f2937;
  --color-neutral-content: #ffffff;
  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #d1d5db;
  --color-base-content: #000000;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #ffd300;
  --color-primary-content: #000000;
  --color-secondary: #374151;
  --color-secondary-content: #ffffff;
  --color-accent: #ea580c;
  --color-accent-content: #ffffff;
  --color-neutral: #d1d5db;
  --color-neutral-content: #000000;
  --color-base-100: #000000;
  --color-base-200: #121212;
  --color-base-300: #262626;
  --color-base-content: #ffffff;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #ffd300;
}
